<!DOCTYPE html>
<html>
<head>
	<title>Whit Waltman</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<style>
	body,h1 {font-family: "Raleway", sans-serif}
	body, html {height: 100%}
	.bgimg {
	    background-image: url('https://images3.alphacoders.com/853/thumb-1920-85305.jpg');
	    min-height: 100%;
	    background-position: center;
	    background-size: cover;
	}
	.button {
		font-size: 20px;
		width: 200px;
		height: 45px;
		background-color: rgba(0, 0, 0, 0.7);
		color: rgb(200, 200, 200);
		border: none;
	}
	.darken {
		background-color: rgba(0, 0, 0, 0.6);
		padding: 10px;
	}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#yes').click(function() {
				$('[name=guess]').val("yesWhitman");
			});

			$('#no').click(function() {
				$('[name=guess]').val("noWhitman");
			});
		});
	</script>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Whit Waltman?
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Walt Whitman or Whit Waltman?</h1>
    <p class="w3-large w3-center">
	    <pre class="darken">
			{{text}}
		</pre>

		<center>
			<form method="POST" action="/grade">
				<input class="button" id="yes" type="submit" value="Whitman">
				<input class="button" id="no" type="submit" value="Not Whitman">
				<input name="guess" type="hidden">
				<input name="passage_id" type="hidden" value="{{passage_id}}">
				<input name="full_passage" type="hidden" value="{{text}}">
			</form>
		</center>
    </p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>

</body>
</html>
